<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>TipLisk:Page Not Found</title>
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
    <link rel="stylesheet" href="./css/error.css">
</head>
<body>
    <h1 style="margin: 50% 10px 0px 10px;text-align:center;">Page Not Found</h1>
</body>
</html>