<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>TipLisk:User Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" >
    <link rel="stylesheet" href="../css/user.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="../js/common.js"></script>
    <script src="../js/user.js"></script>
</head>
<body>
    <div class="Lisk-Logo"></div>
    <div class="container">
        <div class="btn-group" role="group" aria-label="メニュー">
            <button type="button" class="btn btn-success"><span class="fas fa-home"></span>&nbsp;Home</button>
            <button type="button" class="btn btn-outline-success" onclick="location.href='../history?offset=0&limit=20'"><span class="fas fa-list-alt"></span>&nbsp;History</button>
            <button type="button" class="btn btn-outline-danger" onclick="location.href='../logout'"><span class="fas fa-sign-out-alt"></span>&nbsp;Logout</button>
        </div>
        <h2>User Info</h2>
        <div class="user-label">UserId:&nbsp;</div>
        <div class="user-value" id="user-id"><%= user.userId %></div>
        <div class="user-label">Balance:&nbsp;</div>
        <div class="user-value" id="user-balance"><%= utils.formatNumber(user.amount) %>&nbsp;LSK</div>
        <div><a href="javascript: void(0);" id="btn-tip" class="btn btn-outline-primary" onclick="tip();">Tip</a></div>
        <div><a href="javascript: void(0);" id="btn-withdraw" class="btn btn-outline-success" onclick="withdraw();">Withdraw</a></div>
        <div><a href="javascript: void(0);" id="btn-deposit" class="btn btn-outline-info" onclick="deposit();">Deposit</a></div>
        <div><a href="javascript: void(0);" id="btn-changepw" class="btn btn-outline-danger" onclick="changepw();">Change Password</a></div>
    </div>
</body>
</html>
