<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>TipLisk:User Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form action="/logout" method="post" name="logout-form">
        <button type="submit">Logout</button>
    </form>
    <h1>User Info</h1>
    <div><span>UserId:</span><%= userId %></div>
    <div><span>Balance:</span><%= amount %>LSK</div>
</body>
</html>