@charset "utf-8";
body {
    font-family: "Aldrich", "Noto Sans", sans-serif, monospace
}

.container {
    margin-bottom: 50px;
}

.user-label {
    display: inline-block;
    width: 5rem;
}
.user-value {
    display: inline-block;
}

.row {
    margin: 10px 5px;
    position: relative;
}

.type-0,
.type-1,
.type-2 {
    padding: 10px 0px;
    border-radius: 5px;
}

.type-0 {
    position: relative;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    background: rgba(255, 194, 153, 0.5);
}

.type-1 {
    position: relative;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    background: rgba(176, 255, 222, 0.5);
}

.type-2 {
    position: relative;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    background: rgba(219, 219, 219, 0.5);
}
