@charset "utf-8";
body {
    font-family: "Aldrich", "Noto Sans", sans-serif, monospace;
}
input[type="text"],
input[type="password"] {
    border: 1px solid #666;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}
.Lisk-Logo {
    position: fixed;
    height: 80px;
    width: 100%;
    bottom: 0;
    background-image: url("../img/lisk_logo.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 80px;
    z-index: 100;
}
.container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 70px;
    margin-bottom: 100px;
    z-index: 500;
}
.btn-group {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}
.btn-group > button {
    font-size: 0.8rem;
    width: 33%;
}
.btn-group-toggle {
    position: static;
    padding: 20px 0 10px 0;
}
.btn-group .btn {
    width: 33%;
}
.btn-group-toggle .focus {
    box-shadow: none !important;
}
.user-value {
    margin-left: 1rem;
    margin-bottom: 20px;
}
#btn-tip,
#btn-withdraw,
#btn-deposit,
#btn-changepw {
    width: 100%;
    margin-top: 10px;
}
#field-recipient,
#field-amount {
    position: relative;
}
#text-recipient {
    padding-left: 2rem;
    padding-right: 4rem;
}
#text-amount {
    padding-right: 4rem;
}
#field-recipient>.prefix::after {
    content: '@';
    color: #999;
    position: absolute;
    left: 10px;
    top: 0.5rem;
}
#field-recipient>.suffix::after {
    content: 'さん';
    color: #999;
    position: absolute;
    right: 20px;
    top: 0.5rem;
}
#field-amount>.suffix::after {
    content: 'LSK';
    color: #999;
    position: absolute;
    right: 20px;
    top: calc(0.5rem + 5px);
}
#field-note {
    font-size: 0.9rem;
    color: #f00;
}
#tiplsk-command {
    border: 1px solid #666;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(253, 255, 146, 0.5);
}
.swal2-popup {
    line-height: 1.5;
}
.swal2-popup .btn {
    margin: 5px;
    width: 33%;
}
.swal2-icon {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#swal2-title {
    font-size: 1.3rem;
}
